* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding-top: 49px;
}

.header-nav {
  background: #FFF;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}
.header-nav-list-item {
  display: block;
  margin: 0 50px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.header-nav-list-item.active-page {
  cursor: default;
}
.header-nav-list-item.active-page > a {
  color: #FFC2A0;
}

.header-nav-list-item.active-page > a:disabled {
  cursor: default;
}

.header-nav-list-item > a {
  text-decoration: none;
  color: black;
  transition: color .3s ease; 
}

.header-nav-list-item > a:hover {
  color: #FFC2A0;

}

main {
  width: 100%;
  height: calc(100% - 49px);
  position: relative;
}

main > section {
  height: calc(100% + 50px);
  position: relative;
}

.home-section-anchor {
  position: absolute;
  top: -49px;
}

.section-anchor {
  position: absolute;
  bottom: 49px;
}

.home-page {
  background-image: url('./images/sunset.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.home-page-text {
  position: absolute;
  color: white;

  right: 150px;
  top: 150px;
  padding: 25px;
  background: #6ECC89;
}

.home-page-names {
  width: 250px;
  font-size: 65px;
}

.home-page-title {
  font-size: 35px;
  background: #FFC2A0;
  width: 100%;
  padding: 5px 25px;
  position: relative;
}

.home-page-title:before,
.home-page-title:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  right: -28px;
}

.home-page-title:before {
  border-width: 28px 28px 0 0;
  border-color: #ffc1a0 transparent transparent transparent;
  top: 0;
}

.home-page-title:after {
  border-width: 28px 0 0 28px;
  border-color: transparent transparent transparent #ffc1a0;
  top: 29px;
}

.our-story, 
.gifts,
.reception {
  display: flex;
  color: white;
}

section.our-story {
  background: #a1d6d6;
}

.our-story-image {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-image: url(./images/dc.jpg);
  background-repeat: no-repeat;
  background-position: 10%;
}

.our-story-text {
  width: 50%;
}

.our-story-text,
.reception-text,
.gifts-text {
  padding: 30px;
}

.gifts-header > span,
.reception-header > span,
.our-story-header > span {
  display: block;
  line-height: 78px
}

.gifts-header > span:first-of-type,
.reception-header > span:first-of-type,
.our-story-header > span:first-of-type {
  font-size: 130px;
}

.our-story-header > span:first-of-type {
  color: #78a1a1;
}

.gifts-header > span:first-of-type {
  color: #fdca22;
}

.reception-header > span:first-of-type {
  color: #4b87cf;
}

.gifts-header > span:last-of-type,
.reception-header > span:last-of-type,
.our-story-header > span:last-of-type {
  font-size: 62px;
  padding-left: 125px;
  position: relative;
}

.gifts-header > span:last-of-type:before,
.gifts-header > span:last-of-type:after,
.reception-header > span:last-of-type:before,
.reception-header > span:last-of-type:after,
.our-story-header > span:last-of-type:before,
.our-story-header > span:last-of-type:after {
  position: absolute;
  content: '';
  height: 5px;
  border-top: 5px dotted white;
  top: 55%;
}

.gifts-header > span:last-of-type:before,
.reception-header > span:last-of-type:before,
.our-story-header > span:last-of-type:before {
  left: 0;
  width: 120px;
}

.gifts-header > span:last-of-type:after,
.reception-header > span:last-of-type:after,
.our-story-header > span:last-of-type:after {
  right: 50px;
  width: 250px;
}

.gifts-body,
.reception-body,
.our-story-body {
  font-size: 18px;
}

section.reception {
  background: #9dbbdf;
}

section.gifts {
  background: #fee9a0;
}


@media(max-width: 550px) {
  body {
    padding-top: 0;
  }
  
  body,
  main {
    height: 100%;
    overflow-x: hidden;
  }

  main > section {
    max-width: 100%;
  }

  main > section:not(.home-page) {
    min-height: 100%;
    height: auto;
    display: block;
  }


  nav {
    display: none;
  }

  .home-page {
    background-size: cover;
    height: 100%;
  }

  .home-page-text {
    bottom: 75px;
    left: 15px;
    right: unset;
    top: unset;
    width: 60%;
    padding: 15px;

  }

  .home-page-names {
    font-size: 45px;
  }

  .home-page-title {
    font-size: 30px;
    width: 300px;
    padding: 5px 10px;
  }

  .home-page-title:before {
    border-width: 25px 25px 0 0;
    right: -25px;
  }

  .home-page-title:after {
    border-width: 25px 0 0 25px;
    right: -25px;
    top: 25px;
  }

  .our-story-text {
    padding: 10px;
    width: 100%;
  }

  .our-story-image {
    width: 100%;
  }

}