* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding-top: 48px;
}

.header-nav {
  background: #FFF;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}
.header-nav-list-item {
  display: block;
  margin: 0 50px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.header-nav-list-item.active-page {
  cursor: default;
}
.header-nav-list-item.active-page > a {
  color: #FFC2A0;
}

.header-nav-list-item.active-page > a:disabled {
  cursor: default;
}

.header-nav-list-item > a {
  text-decoration: none;
  color: black;
  transition: color .3s ease;
}

.header-nav-list-item > a:hover {
  color: #FFC2A0;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

main > section {
  height: 100%;
  position: relative;
}

.home-section-anchor {
  position: absolute;
  top: -49px;
}

.section-anchor {
  position: absolute;
  bottom: 0;
}

.home-page {
  background-image: url('./images/sunset.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.home-page-text {
  position: absolute;
  color: white;

  right: 150px;
  top: 150px;
  padding: 25px;
  background: #6ECC89;
}

.home-page-names {
  width: 250px;
  font-size: 65px;
}

.home-page-title {
  font-size: 35px;
  background: #FFC2A0;
  width: 120%;
  padding: 5px 25px;
  position: relative;
}

.home-page-title:before,
.home-page-title:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  right: -28px;
}

.home-page-title:before {
  border-width: 28px 28px 0 0;
  border-color: #ffc1a0 transparent transparent transparent;
  top: 0;
}

.home-page-title:after {
  border-width: 28px 0 0 28px;
  border-color: transparent transparent transparent #ffc1a0;
  top: 29px;
}

.our-story, 
.gifts,
.reception {
  display: flex;
}

section.our-story {
  background: #a1d6d6;
}

.gifts-image,
.our-story-image,
.reception-image {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-story-image {
  background-image: url(./images/dc.jpg);
  background-position: 10%;
}

.reception-image {
  background-image: url(./images/engaged.jpg);
  background-position: 0 100%;
}

.gifts-image {
  background-image: url(./images/royalty.jpg);
  background-position: 50%;
}

.our-story-text,
.reception-text,
.gifts-text {
  width: 50%;
}

.our-story-text,
.reception-text,
.gifts-text {
  padding: 30px;
}

.gifts-header > span,
.reception-header > span,
.our-story-header > span {
  display: block;
  line-height: 78px
}

.gifts-header > span:first-of-type,
.reception-header > span:first-of-type,
.our-story-header > span:first-of-type {
  font-size: 130px;
}

.our-story-header > span:first-of-type {
  color: #78a1a1;
}

.gifts-header > span:last-of-type,
.our-story-header > span:last-of-type,
.reception-header > span:last-of-type {
  color: #FFFFFF;
}

.gifts-header > span:first-of-type {
  color: #fdca22;
}

.reception-header > span:first-of-type {
  color: #4b87cf;
}

.gifts-header > span:last-of-type,
.reception-header > span:last-of-type,
.our-story-header > span:last-of-type {
  font-size: 62px;
  padding-left: 125px;
  position: relative;
}

.gifts-header > span:last-of-type:before,
.gifts-header > span:last-of-type:after,
.reception-header > span:last-of-type:before,
.reception-header > span:last-of-type:after,
.our-story-header > span:last-of-type:before,
.our-story-header > span:last-of-type:after {
  position: absolute;
  content: '';
  height: 5px;
  border-top: 5px dotted white;
  top: 55%;
}

.gifts-header > span:last-of-type:before,
.reception-header > span:last-of-type:before,
.our-story-header > span:last-of-type:before {
  left: 0;
  width: 120px;
}

.our-story-header > span:last-of-type:after {
  left: 277px;
  width: 250px;
}

.reception-header > span:last-of-type:after {
  left: 410px;
  width: 138px;
}

.gifts-header > span:last-of-type:after {
  left: 308px;
  width: 220px;
}

.gifts-body,
.reception-body,
.our-story-body {
  font-size: 18px;
}

.our-story-body {
  color: #005555;
  text-shadow: 0 0 1px #005555;
}

.reception-body {
  color: #0A3055;
  text-shadow: 0 0 1px #0A3055;
  text-align: center;
}

.gifts-body {
  color: #634806;
  text-shadow: 0 0 1px #634806;
}

.reception-body dt {
  font-size: 1.8em;
  font-weight: bold;
}

.reception-body dt:not(:first-of-type) {
  margin-top: 35px;
}

.reception-body dd {
  margin-left: 0;
  font-size: 1.2em;
  color: #ffffff;
  text-shadow: 0 0 1px #ffffff;
}
.receiption-directions-link {
  color: #0A3055;
  text-decoration: none;
}

.receiption-directions-link:hover {
  color: #4b87cf;
  text-shadow: 0 0 1px #4b87cf;
  transition: color .3s ease;
}

.charity-link {
  color: #634806;
  text-shadow: 0 0 1px #634806;
  transition: color .3s ease;
}

.charity-link:hover {
  color: #34515E;
  text-shadow: 0 0 1px #34515E;
}

section.reception {
  background: #9dbbdf;
}

section.gifts {
  background: #fee9a0;
}

.reception-image.mobile {
  display: none;
}

@media(max-width: 550px) {
  body {
    padding-top: 0;
  }
  
  body,
  main {
    height: 100%;
    overflow-x: hidden;
  }

  main > section {
    max-width: 100%;
  }

  main > section:not(.home-page) {
    min-height: 100%;
    height: auto;
    display: block;
  }

  .header-nav-list {
    justify-content: space-around;
  }

  .header-nav-list-item {
    font-size: 12px;
    margin: 0 10px;
  }

  .home-page {
    background-size: cover;
    height: 100%;
  }

  .home-page-text {
    bottom: 75px;
    left: 15px;
    right: unset;
    top: unset;
    width: 60%;
    padding: 15px;
  }

  .home-page-names {
    font-size: 45px;
  }

  .home-page-title {
    font-size: 30px;
    width: 300px;
    padding: 5px 10px;
  }

  .home-page-title:before {
    border-width: 25px 25px 0 0;
    right: -25px;
  }

  .home-page-title:after {
    border-width: 25px 0 0 25px;
    right: -25px;
    top: 25px;
  }

  .gifts-text,
  .our-story-text,
  .reception-text {
    padding: 25px 15px 0;
    width: 100%;
  }

  .section-anchor {
    bottom: 40px;
  }
  
  .gifts-image,
  .our-story-image,
  .reception-image {
    width: 100%;
  }

  .gifts-header > span:first-of-type,
  .reception-header > span:first-of-type,
  .our-story-header > span:first-of-type {
    font-size: 90px;
    line-height: 55px;
  }

  .gifts-header > span:last-of-type,
  .reception-header > span:last-of-type,
  .our-story-header > span:last-of-type {
    font-size: 42px;
    padding-left: 55px;
  }

  .gifts-header > span:last-of-type:before,
  .reception-header > span:last-of-type:before,
  .our-story-header > span:last-of-type:before {
    width: 50px;
  }

  .our-story-header > span:last-of-type:after {
    left: 160px;
    width: 170px;
  }

  .reception-header > span:last-of-type:after {
    left: 250px;
    width: 95px;
  }

  .gifts-header > span:last-of-type:after {
    left: 183px;
    width: 160px;
  }

  .reception-image.desktop {
    display: none;
  }

  .reception-image.mobile {
    display: block;
    background-position: 100%;
  }
}